.bg-black{
    background-color: #161616;
}

.navbar {
    padding: 15px;
}

.font-custom {
    font-family: 'Roboto Slab', serif;
}

h1{
    color: #161616;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

h2{
    color: #4d4d4d;
    font-size: 22px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.btn-item {
    color: #161616;
}

.btn-item:hover {
    color: #161616;
}

.category-btn {
    background-color: #2ea44f;
    border-radius: 8px;
    margin-bottom: 7px;
    margin-left: 15px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #2ea44f;
}

.category-btn:hover {
    background-color: #1f8136;
    margin-left: 15px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #1f8136;
    transform: scale(1.03);
    box-shadow: 0px 5px 5px #186129;
}

.recommended {
    background-color:#fffaf5;
}

.content-category {
    background-color:#fffaf5;
}

.btn-rounded
{
    border-radius: 10px;
    border: 2px solid;
    border-color: #28a745;
}

.card:hover {
    transform: scale(1.03);
}

p {
    color: #161616;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

form .search-container {
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}

form button {
    padding: 5px 10px 5px 10px;
    background: #17a2b8;
    color: #ffffff;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .col-sm {
        flex-basis: auto;
    }
    .col-md {
        flex-basis: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    .col-sm {
        flex-basis: 33%;
        max-width: 50%;
    }
    .col-md {
        flex-basis: 33%;
        max-width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-sm {
        flex-basis: 25%;
        max-width: 30%;
    }
    .col-md {
        flex-basis: 25%;
        max-width: 30%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-sm {
        flex-basis: 15%;
        max-width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-sm {
        flex-basis: 10%;
        max-width: 100%;
    }
}