{% extends "base.html" %}
{{ super() }}
{% block css %}
<!-- Css -->
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/stars.css" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
{% endblock %}

{% block title %} Home - {% endblock %}

{% block header %}
<!-- Header -->
<nav class="navbar navbar-dark bg-black">
  <div class="col-brand">
    <div class="container">
      <a class="navbar-brand font-custom" href="/">
        <img src="/static/img/claqueta.png" width="32" height="32" />
        <span id="text">Movie Recomendation</span>
      </a>
    </div>
  </div>
  <!-- Mode Desktop -->
  <div class="desktop-mode">
    <div class="col-nav">
      <div class="float-right">
        <a class="btn btn-info" href="/logout">
          Log out
        </a>
      </div>
    </div>
    <div class="col-nav">
      <div class="float-left">
        <form class="form-content" method="POST">
          <input class="search-container" name="search" type="text" placeholder="Search...">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  <!-- Mode Phone -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="phone-mode">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="col-nav">
          <form class="form-content" method="POST">
            <input class="search-container" name="search" type="text" placeholder="Search..." />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for category in list_category %}
          <a class="dropdown-item" href="/home/{{category}}">{{ category }}</a>
          {% endfor %}
        </div>
        <div class="col-nav">
          <a class="btn btn-info" href="/logout">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- Content -->
<div class="row">
  <!-- Category -->
  <div class="category col-3 mt-2">
    <h2>Category</h2>
    {% for category in list_category %}
    <div class="category-btn">
      <a class="btn-item" href="/home/{{category}}">{{ category }}</a>
    </div>
    {% endfor %}
  </div>
  <div class="content col-9">
    {% include 'flash_message.html' %}
    {% if find_film %} 
      {% include 'search.html' %} 
    {% else %}
      {% if category_name %} 
        {% include 'content_category.html' %}
      {% else %}
        {% include 'recommended.html' %}
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block js %}
<!-- Js -->
<script src="/static/js/flash_timeout.js"></script>
<script src="/static/js/stars.js"></script>
{% endblock %}