{% extends "base.html" %}
{{ super() }}
{% block css %}
<!-- Css -->
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block header %}
<!-- Header -->
<nav class="navbar navbar-dark bg-black">
  <div class="col-sm-6">
    <div class="container">
      <a class="navbar-brand font-custom" href="/">
        <img src="/static/img/claqueta.png" width="32" height="32">
        Movie Recommendation
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="float-right">
      <a class="btn btn-info mr-3 font-custom" href="/login">Log in</a>
      <a class="btn btn-success font-custom" href="/signup">Sign Up</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- Content -->
<div class="bg-image">
  <div class="container">
    <br>
    <div class="slogan">
      <br>
      <h1>The best Movie Recommendation</h1>
      <br>
      <p>The latest recommendation system technology at your fingertips</p>
      <br>
    </div>
  </div>

  <hr>
  <br>

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="card col-sm mr-3 ml-3 mb-3">
        <img class="card-img-top img-rounded mt-2 mb-2" src="/static/img/film/FastandFurious.jpg" alt="Fast and Furious 8">
      </div>
      <div class="card col-sm mr-3 ml-3 mb-3">
        <img class="card-img-top img-rounded mt-2 mb-2" src="/static/img/film/the_edge_of_seventeen.jpg" alt="The edge of seventeen">
      </div>
      <div class="card col-sm mr-3 ml-3 mb-3">
        <img class="card-img-top img-rounded mt-2 mb-2" src="/static/img/film/2012findelmundo.jpg" alt="Fin del Mundo 2012">
      </div>
    </div>
    <br>
  </div>
</div>
{% endblock %}