{% extends "base.html" %}
{{ super() }}
{% block css %}
<!-- Css -->
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block title %} Signup - {% endblock %}

{% block header %}
<!-- Header -->
<nav class="navbar navbar-dark bg-black">
  <div class="col-sm-6">
    <div class="container">
      <a class="navbar-brand font-custom" href="/">
        <img src="/static/img/claqueta.png" width="32" height="32">
        Movie Recomendation
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="float-right">
      <a class="btn btn-info mr-3 font-custom" href="/login">Log in</a>
      <a class="btn btn-success font-custom" href="/signup">Sign Up</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- Content -->
<div class="bg-image">
  <br><br>
  <div class="container">
    <div class="login-content">
      <br>
      <h1>Sign Up</h1>
      <form class="form-content" method="POST">
        <input class="username-container mt-2 mb-3" name="username" type="text" placeholder="Username" maxlength="50"
          required>
        <input class="password-container mb-3" name="password" type="password" placeholder="Password" maxlength="66"
          required>
        <input class="password-container mb-3" name="confirm_password" type="password" placeholder="Confirm Password"
          maxlength="66" required>
        {% include 'flash_message.html' %}
        <button class="btn btn-info mt-3 mb-3" type="submit" href="/login">Sign Up</button>
      </form>
      <br>
    </div>
  </div>
  <br><br>
</div>
{% endblock %}

{% block js %}
<!-- Js -->
<script src="/static/js/flash_timeout.js"></script>
{% endblock %}