{% block content %}
<div class="content-category">
  <br />
  <h1>{{ category_name }}</h1>
  {% for film in film_data %}
  <div class="card mb-3" style="max-width: 576px;">
    <div class="row no-gutters">
      <div class="col-md">
        <img class="card-img" src="/static/img/film/{{ film['image_name'] }}" />
      </div>
      <div class="column">
        <div class="card-body">
          <h5 class="card-title">Title: {{ film['title'] }}</h5>
          <h6 class="card-title">Year: {{ film['year'] }}</h6>
          <fieldset class="rating {{ film['id'] }}" name="{{ film['id'] }}" value="{{ film['rating'] }}">
            <input type="image" src="/static/img/rating-star.png" data-rating="1">
            <input type="image" src="/static/img/rating-star.png" data-rating="2">
            <input type="image" src="/static/img/rating-star.png" data-rating="3">
            <input type="image" src="/static/img/rating-star.png" data-rating="4">
            <input type="image" src="/static/img/rating-star.png" data-rating="5">
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}