<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@340&display=swap" rel="stylesheet">

    <title>Movie Recomendation</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-dark bg-black">
        <div class="col-sm-6">
            <div class="container">
                <a class="navbar-brand font-custom" href="/">
                    <img src="/static/img/claqueta.png" width="32" height="32">
                    Movie Recomendation
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="float-right">
                <a class="btn btn-info mr-3 font-custom" href="/login">Log in</a>
                <a class="btn btn-success font-custom" href="/signup">Sign Up</a>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
      <br>
      <div class="slogan">
        <br>
        <h1>The best Movie Recomendation</h1>
        <br>
        <p>The latest recommendation system technology at your fingertips</p>
        <br>
      </div>
    </div>
    
    <hr>
    <br>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card col-sm mr-3 ml-3 mb-3">
                <img class="card-img-top img-rounded mt-2 mb-2" src="/static/img/film/FastandFurious.jpg">
            </div>
            <div class="card col-sm mr-3 ml-3 mb-3">
                <img class="card-img-top img-rounded mt-2 mb-2" src="/static/img/film/the_edge_of_seventeen.jpg">
            </div>
            <div class="card col-sm mr-3 ml-3 mb-3">
                <img class="card-img-top img-rounded mt-2 mb-2" src="/static/img/film/2012findelmundo.jpg">
            </div>
        </div>
        <br>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-black pt-4">

        <!-- Footer Elements -->
        <div class="container">
      
          <!-- Call to action -->
          <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
              <h5 class="mb-1 text-white font-custom">Register for free</h5>
            </li>
            <li class="list-inline-item">
              <a href="/signup" class="btn btn-outline-success btn-rounded text-white font-custom">Sign up!</a>
            </li>
          </ul>
          <!-- Call to action -->
      
        </div>
        <!-- Footer Elements -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center text-white-50 py-3 font-custom">© 2020 Copyright:
          <a class="text-white font-custom" href="/"> Mipagina.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>

    <!-- Optional JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>