{% block content %}
<div class="content-category">
  <br />
  {% for film in find_film %}
  <div class="card mb-3" style="max-width: 576px;">
    <div class="row no-gutters">
      <div class="col-md">
        <img class="card-img" src="/static/img/film/{{ film['image_name'] }}" />
      </div>
      <div class="col-md">
        <div class="card-body">
          <h5 class="card-title">Title: {{ film['title'] }}</h5>
          <h6 class="card-title">Year: {{ film['year'] }}</h6>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}